.sr-only {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    z-index: -999;
    overflow: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}