.product-selling-content-option {
    margin-top: 24px;
    margin-bottom: 22px;

    .product-choice,
    .add-choice {
        width: 100%;
        @include base($primary);
        font-weight: 400;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: $background;
        }
    }

    .product-choice {
        margin-bottom: 8px;
    }
}

.option-choice-items {
    position: relative;
    z-index: 1;

    ul {
        position: absolute;
        top: calc(100% - 7px);
        left: 0;
        z-index: 2;
        width: 100%;
        max-height: 0px;
        border: 0px solid transparent;
        background-color: transparent;
        overflow: hidden;
        transition: border-color 200ms ease-in, padding 200ms ease-in,
            max-height 200ms ease-in, box-shadow 200ms ease-in;

        &.show {
            max-height: 176px;
            border: 1px solid $border;
            background-color: $white;
        }

        div,
        li {
            width: 100%;
            height: 40px;
            padding: 10px 0 10px 16px;
            @include base($primary);
            font-weight: 400;
        }
        div {
            color: $tertiary;
            background-color: $background;
            &.disabled {
                color: $border;
                background-color: $white;
            }
        }
        li:hover {
            background-color: $background;
        }
    }
}

.product-selling-content-option-chosen-item {
    article {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 72px;
        padding: 8px 8px;
        margin-top: 8px;
        background-color: $background;

        h2 {
            @include base($primary);
            font-weight: 400;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 12px;
            height: 12px;
            border: none;
            background-color: inherit;
            cursor: pointer;
            i {
                font-size: 12px;
                color: $tertiary;
            }
        }
        div {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            
            select {
                width: 80px;
                height: 24px;
                @include small($secondary);
                font-weight: 400;
                border: 1px solid $border;
                border-radius: 3px;
            }

            p {
                font-weight: 700;
                span {
                    @include base($primary);
                    &.won {
                        @include small($primary);
                    }
                }
            }
        }
    }
}

.product-total-price-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    color: $dark;
    font-weight: 700;
    span {
        @include tiny;
    }
    .product-total-price {
        .number {
            font-size: 20px;
        }
        .won {
            @include base;
        }
    }
}

.buy-buttons {
    button {
        width: 223px;
    }
    .reverse {
        margin-right: 8px;
    }
}

.put-product-into-cart {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    .layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    &-wrap {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 242px;
        z-index: 20;
        border-radius: 8px;
        background-color: $white;

        h1 {
            margin-bottom: 24px;
            @include medium($dark);
            font-weight: 700;
        }
        a,
        button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 296px;
            @include medium;
        }
        a {
            margin-bottom: 16px;
        }
        button {
            color: $primary;
            background-color: $border;
            border: none;
        }
    }
}