.product-selling {
    padding: 40px 0;
}

.product-selling-wrap {
    display: flex;
}

.product-selling-preview-list {
    li {
        width: 75px;
        height: 75px;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    button {
        position: relative;
        width: 75px;
        height: 75px;
        padding: 0 0;
        border: 0px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 69px;
            height: 69px;
            border: 0px solid $blue;
            transition: all 0.2s ease;
        }

        &:hover::after {
            border: 3px solid $blue;
        }
        
        img {
            width: 100%;
            height: 100%;
            margin-bottom: 8px;
            border-radius: 4px;
            transform: scale(1);
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.product-selling-carousel {
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: 8px;
    border-radius: 4px;
    overflow: hidden;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.hide {
    display: none;
}