$black: #000;
$dark: #1B1C32;
$primary: #3F4150;
$secondary: #858896;
$tertiary: #A2A5AF;
$dark_border: #C2C3CA;
$border: #E0E2E7;
$background: #F7F8FA;
$white: #FFFFFF;

$blue: #3DA8F5;
// $dim_blue: rgba(61, 168, 245, 0.1);
$dim-blue: rgba($blue, 0.1);
$dark-blue: #2280C3;
$red: #F86D7D;
$green: #22C58B;