$font-size-micro: 12px;
$font-size-tiny: 13px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;

$line-height-micro: 16px;
$line-height-tiny: 1.538461;
$line-height-small: 1.714285;
$line-height-base: 1.5;
$line-height-medium: 1.555555;
$line-height-large: 1.416667;

$letter-spacing-micro: -0.005em;
$letter-spacing-small: -0.01em;
$letter-spacing-base: -0.01em;
$letter-spacing-medium: -0.02em;
$letter-spacing-large: -0.01em;